resources/corpus/* filter=lfs diff=lfs merge=lfs -text
resources/font/** filter=lfs diff=lfs merge=lfs -text
resources/background/* filter=lfs diff=lfs merge=lfs -text
resources/paper/* filter=lfs diff=lfs merge=lfs -text


